<!-- Front page for logged in Giftbook user -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
    <style type="text/css">
      body{
        padding-top: 40px;
            padding-bottom: 40px;
      }
      .marketplacebanner2 {
        width: 345px;
        margin-left: auto;
        margin-right: auto;
      }
      .gallery{
        margin: 10px auto;
      }
      #picture{
        width: 360px;
        height: 238px;
        padding: 10px 10px 10px;
        float: left;
        overflow: hidden;
      }
    </style>  
  </head>
  <body>
    <div class="container">
    <!--marketplace banner photo -->
    <div class="marketplacebanner2">
      <img src="../images/Marketplace%20smaller%20logo%20category.png"/>
    </div>

    <!--Gallery displaying categories-->
    <div class="gallery">
      
      <!--First category-->
      <div id='picture'>
        <a href="/viewCategory?c=[[[clothes]]]&p=1"><img src="../images/category1.jpg"/></a>
      </div>

      <!--Second category-->
      <div id='picture'>
        <a href="/viewCategory?c=[[[clothes]]]&p=1"><img src="../images/category2.jpg"/></a>
      </div> 

      <!--Third category-->
      <div id='picture'>
        <a href="/viewCategory?c=[[[clothes]]]&p=1"><img src="../images/category3.jpg"/></a>
      </div>    

      <!--Fourth category-->
      <div id='picture'>
        <a href="/viewCategory?c=[[[clothes]]]&p=1"><img src="../images/category4.jpg"/></a>
      </div> 

      <!--Fifth category-->
      <div id='picture'>
        <a href="/viewCategory?c=[[[clothes]]]&p=1"><img src="../images/category5.jpg"/></a>
      </div>      

      <!--Sixth category-->
      <div id='picture'>
        <a href="/viewCategory?c=[[[clothes]]]&p=1"><img src="../images/category6.jpg"/></a>
      </div>                               
    </div>


  </body>
</html>


