<!-- Front page for Marketplace -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <style type="text/css">
      body{
        padding-top: 40px;
            padding-bottom: 40px;
      }
      .marketplacebanner {
        width: 547px;
        margin-left: auto;
        margin-right: auto;
      }
      .form-signin{
        font-family: Helvetica;
        width: 210px;
        font-size: 14px;
        padding: 2px 2px 2px;
        margin: 50px auto;
        border: 1px solid #e5e5e5;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!--marketplace banner photo -->
      <div class="marketplacebanner">
        <img src="../images/Marketplace%20logo.png"/>
      </div>

      <!-- signin form -->
      <div class="form-signin">
        <span>Sign in with your google account! <a href="/bazaar">
          <br>
          <img src="../images/google%20red%20logo.png" style="width: 200px"></a>
        </span>
      </div> 
    </div>


    <script type="text/javascript" scr="bootstrap.min.js"></script>
  </body>
</html>
